[run]
source = bodhi
omit =
    bodhi/scripts/*
    bodhi/server/static/__init__.py
    bodhi/tests/*

[report]
precision = 2
fail_under = 89
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
