# Files to be ignored by all git checkouts
*.pyc
*.pyo
*.swp
.bodhi.tmp
.vagrant
devel/ansible/playbook.retry
development.ini
dist
docs/_build
MANIFEST
virtenv
build
bodhi-pickledb*
*.egg*
bodhi.db*
.coverage
dogpile-cache.dbm*
html-docs
masher/
Vagrantfile
