# Files to be ignored by all git checkouts
*.directory
*.egg*
*.pyc
*.pyo
bodhi-server/*.sqlite
*.swo
*.swp
.bodhi.tmp
.cache/
*/.coverage
.dnf-cache/
.idea
.mypy_cache
*/.pytest_cache
.vagrant
.vagrant.d
MANIFEST
bodhi-pickledb*
bodhi.db*
*/build
*/cover/
*/coverage.xml
devel/ansible/playbook.retry
devel/docker/settings/policies/*
bodhi-server/development.ini
*/dist
docs/_build
*/docs/_build
docs/docblocks
docs/developer/docblocks
docs/generated
dogpile-cache.dbm*
html-docs
*/htmlcov/
composer/
*/nosetests.xml
virtenv
.vscode
test_results
.test-venv
