# Files to be ignored by all git checkouts
*.egg*
*.pyc
*.pyo
*.sqlite
*.swo
*.swp
.bodhi.tmp
.cache/
.coverage
.dnf-cache/
.idea
.tox/
.vagrant
.vagrant.d
MANIFEST
Vagrantfile
bodhi-pickledb*
bodhi.db*
build
cover/
coverage.xml
devel/ansible/playbook.retry
development.ini
dist
docs/_build
docs/images/database.png
dogpile-cache.dbm*
html-docs
htmlcov/
masher/
nosetests.xml
virtenv
