exclude start-bodhi
include apache/bodhi.wsgi
include apache/bodhi.conf
include AUTHORS README COPYING ChangeLog
include *.cfg
include bodhi/templates/*.kid
include bodhi/templates/*.html
include bodhi/config/*.cfg
include bodhi/config/*.conf
include bodhi/config/*.mash
include bodhi/static/js/*
include bodhi/static/css/*
include bodhi/static/images/*
include bodhi.spec
include docs/bodhi.1
