include *.txt *.ini *.cfg *.rst
recursive-include bodhi *.ico *.png *.css *.gif *.jpg *.pt *.txt *.mak *.mako *.js *.html *.xml *.ttf *.woff *.woff2 *.eot *.otf *.svg
recursive-include apache *
recursive-include alembic *
recursive-include tools *
recursive-include docs *
recursive-include fedmsg.d *
include bodhi/locale/.placeholder
include COPYING
