alembic
arrow
bleach
click
colander
cornice>=3
cryptography
dogpile.cache
fedmsg[consumers]
feedgen
kitchen
jinja2
markdown
packagedb-cli
# for captchas
Pillow
pyDNS  # Should be required by pyLibravatar https://bugs.launchpad.net/pylibravatar/+bug/1661218
pylibravatar
pyramid~=1.7
pyramid_fas_openid
pyramid_mako
pyramid_tm
python-bugzilla
python-fedora
python-openid
simplemediawiki
sqlalchemy
waitress
