alembic
arrow
bleach
click
colander
cornice>=3.1.0
cryptography
dogpile.cache
fedmsg[consumers]
pyasn1-modules  # Due to an unfortunate dash in its name, installs break if pyasn1 is installed first
fedora_messaging
feedgen
jinja2
kitchen
markdown
packagedb-cli; python_version <= '2.7'
# for captchas
Pillow
psycopg2
pyDNS; python_version <= '2.7'  # Should be required by pyLibravatar https://bugs.launchpad.net/pylibravatar/+bug/1661218
py3dns; python_version >= '3.0'  # Should be required by pyLibravatar https://bugs.launchpad.net/pylibravatar/+bug/1661218
pylibravatar
pyramid~=1.7
pyramid_fas_openid
pyramid_mako
python-bugzilla
python-fedora
simplemediawiki
six
sqlalchemy
waitress
