[Unit]
Description=Print messages sent to the amq.topic exchange
After=network-online.target
Wants=network-online.target

[Service]
User=vagrant
ExecStart=/usr/bin/fedora-messaging consume --callback="fedora_messaging.example:printer"

[Install]
WantedBy=multi-user.target
