/* Sticky footer styles */

html,
body {
  height: 100%;
}

.max-width {
  min-width: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 80px;
  background-color: #f5f5f5;
  border-top: 1px dashed black;
  text-align: center;
}

#footer {
    padding: 10px;
}
