.panel-heading {
    color: #666;
    font-weight: bold;
}

.sidepanel {
    margin-top: 10px;
}

.sidepanel table {
    margin-bottom: 0;
}

.sidepanel .panel-body {
    padding: 0;
}

.searchpanel .panel-body .form-group {
    margin-bottom: 0;
}

.searchpanel .panel-body input {
    border: none;
    border-radius: 0;
}

.searchpanel .panel-body .twitter-typeahead {
    padding: 0;
    margin: 0;
}