.panel-heading {
    color: #666;
    font-weight: bold;
}

.sidepanel, .formpanel {
    margin-top: 10px;
}

.sidepanel table {
    margin-bottom: 0;
}

.sidepanel .panel-body, .formpanel .panel-body {
    padding: 0;
}

.formpanel .panel-body .form-group {
    margin-bottom: 0;
}

.formpanel .panel-body input, .formpanel .panel-body textarea {
    border: none;
    border-radius: 0;
}

.formpanel .panel-body .twitter-typeahead {
    padding: 0;
    margin: 0;
}