p, .lead {
    margin-bottom: 0px;
}

a {
    outline: 0 !important;
}

a:hover {
    text-decoration: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.messenger-message-inner a {
    color: white;
    text-decoration: none;
}

.row {
    margin-right: 0px;
}

#ghost-cabbage {
    position: fixed;
    top: 40px;
    right: 55px;

    zoom: 1;
    filter: alpha(opacity=07);
    opacity: 0.07;
}

#ghost-cabbage > img {
    width: 256px;
    height: 256px;
}

ul {
    list-style: none;
}

.table colgroup.strip {
    width: 10px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nowrap {
    white-space: nowrap;
}
.anchor {
    color: black;
}
.linkable li .anchor {
    display: none;
}
.linkable li:hover .anchor {
    display: inline;
}

/* Search-y stuff */
form#search, form#search input, .twitter-typeahead {
    width: 100%;
}
.twitter-typeahead {
    margin-top: 20px;
    font-size: 115%;
    padding-left: 10px;
}
.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 0px;
  margin-left: 10px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
