Raw NSVs:
[%- for module in modules %]
[[ module ]]
[%- endfor %]

Calculated NSVCs:
[%- for module in moduledefs %]
[[ module.name ]]:[[ module.stream ]]:[[ module.version ]]:[[ module.context ]]
[% endfor %]
