---
- name: Install packages
  dnf:
    name:
      - bash-completion
      - createrepo_c
      - docker
      - docker-compose
      - fedora-messaging
      - freetype-devel
      - gcc
      - git
      - graphviz
      - htop
      - httpie
      - libffi-devel
      - libjpeg-devel
      - libjpeg-turbo-devel
      - make
      - nmap-ncat
      - openssl-devel
      - pcaro-hermit-fonts
      - pcp-system-tools
      - postgresql-devel
      - postgresql-server
      - python3-alembic
      - python3-arrow
      - python3-backoff
      - python3-bleach
      - python3-celery
      - python3-click
      - python3-colander
      - python3-conu
      - python3-cornice
      - python3-cornice-sphinx
      - python3-createrepo_c
      - python3-diff-cover
      - python3-dogpile-cache
      - python3-fedora
      - python3-flake8
      - python3-flake8-import-order
      - python3-ipdb
      - python3-koji
      - python3-librepo
      - python3-markdown
      - python3-munch
      - python3-openid
      - python3-psycopg2
      - python3-pydocstyle
      - python3-pylibravatar
      - python3-pyramid
      - python3-pyramid-fas-openid
      - python3-pytest
      - python3-pytest-cov
      - python3-responses
      - python3-rpdb
      - python3-simplemediawiki
      - python3-sqlalchemy
      - python3-sqlalchemy_schemadisplay
      - python3-webtest
      - redhat-rpm-config
      - screen
      - skopeo
      - tmux
      - tree
      - vim-enhanced
      - zlib-devel
    state: present


- name: Configure Cgroups v1 for docker in grub.cfg
  command: sed -i '/^GRUB_CMDLINE_LINUX/ s/"$/ systemd.unified_cgroup_hierarchy=0"/' /etc/default/grub

- name: Generate the new grub configuration with cgroups v1
  command: grub2-mkconfig -o /boot/grub2/grub.cfg

- name: Initialize PostgreSQL
  command: postgresql-setup initdb
  args:
      creates: /var/lib/pgsql/data/pg_hba.conf

- replace:
    dest: /var/lib/pgsql/data/pg_hba.conf
    regexp: "host    all             all             127.0.0.1/32            ident"
    replace: "host    all             all             127.0.0.1/32            trust"

- replace:
    dest: /var/lib/pgsql/data/pg_hba.conf
    regexp: "host    all             all             ::1/128                 ident"
    replace: "host    all             all             ::1/128                 trust"

- service:
    name: postgresql
    state: started
    enabled: yes

- name: Create a database for Bodhi
  shell: runuser -l postgres -c 'createdb bodhi2' && touch /home/vagrant/.db-created
  args:
      creates: /home/vagrant/.db-created

# This isn't packaged in Fedora yet, but it's only a development tool (we should still add it)
- name: pip install debugtoolbar
  pip:
      name: pyramid_debugtoolbar
      executable: pip3

# The version packaged in Fedora never seems to work right, and we'd rather have a newer one anyway
- name: pip install mypy
  pip:
      name: mypy
      executable: pip3

- name: pip install jinja2-cli
  pip:
      name: jinja2-cli
      executable: pip3

- name: Fake a pungi install
  file:
      src: /usr/bin/true
      dest: /usr/bin/pungi-koji
      state: link

- name: Get Python 3 version
  command: python3 -c "import sys; print('%s.%s' % sys.version_info[0:2])"
  register: python3_version

- name: Install bodhi in developer mode for Python 3
  command: python3 /home/vagrant/bodhi/setup.py develop
  args:
      chdir: /home/vagrant/bodhi
      creates: /usr/lib/python{{ python3_version.stdout }}/site-packages/bodhi.egg-link

- name: Retrieve database dump
  get_url:
      url: https://infrastructure.fedoraproject.org/infra/db-dumps/bodhi2.dump.xz
      dest: /tmp/bodhi2.dump.xz
      timeout: 1000

- shell: xzcat /tmp/bodhi2.dump.xz | runuser -l postgres -c 'psql bodhi2' && touch /home/vagrant/.db-imported
  args:
      creates: /home/vagrant/.db-imported

- command: cp /home/vagrant/bodhi/devel/development.ini.example /home/vagrant/bodhi/development.ini
  args:
      creates: /home/vagrant/bodhi/development.ini

- name: Change development.ini to make bodhi use the staging infrastructure
  import_tasks: configure_stg.yml
  when: (staging_fas is defined) and use_staging_infra

- name: Creates /etc/bodhi directory
  file:
    path: /etc/bodhi
    state: directory

- name: Copy celery configuration to correct path
  copy:
    src: celeryconfig.py
    dest: /etc/bodhi/celeryconfig.py
    owner: root
    group: root
    mode: 644

# Bug in zope.interface filled here https://github.com/zopefoundation/zope.interface/issues/114
- name: Fix namespace-package bug in zope.interface
  copy:
      content: "__import__('pkg_resources').declare_namespace(__name__)"
      dest: "/usr/lib64/python{{ python3_version.stdout }}/site-packages/zope/__init__.py"

- name: Apply database migrations
  shell: PYTHONPATH=. alembic upgrade head
  args:
      chdir: /home/vagrant/bodhi

- name: Install the systemd unit files
  copy:
      src: "{{ item }}"
      dest: /etc/systemd/system/{{ item }}
      mode: 0644
  with_items:
      - bodhi.service
      - print-messages.service
      - celery.service

- name: Install the .bashrc
  copy:
      src: .bashrc
      dest: /home/vagrant/.bashrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the .vimrc
  copy:
      src: .vimrc
      dest: /home/vagrant/.vimrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the motd
  copy:
      src: motd
      dest: /etc/motd
      mode: 0644

- name: create the composes directories
  file:
      path: "/srv/{{item}}"
      owner: vagrant
      group: vagrant
      state: directory
  with_items:
      - composes
      - composes/final
      - composes/stage

- name: Set up the RabbitMQ broker
  import_tasks: rabbitmq.yml

- name: Copy the fedora-messaging configuration file bodhi.toml
  copy:
      src: bodhi.toml
      dest: /etc/fedora-messaging/config.toml
      owner: root
      group: root
      mode: 644

- name: Start and enable the bodhi-related services
  service:
      name: "{{ item }}"
      state: started
      enabled: yes
  with_items:
      - bodhi
      - docker
      - celery
      - fm-consumer@config
      - print-messages

- name: Link the bodhi bash completion script
  file:
    src: /home/vagrant/bodhi/bodhi-complete.sh
    dest: /etc/bash_completion.d/bodhi-complete.sh
    state: link

- name: Reboot the vagrant box
  reboot:
