---
- name: Install packages
  dnf:
    name:
      - bash-completion
      - createrepo_c
      - docker
      - dstat
      - fedmsg-hub
      - fedmsg-relay
      - freetype-devel
      - gcc
      - git
      - graphviz
      - htop
      - httpie
      - liberation-mono-fonts
      - libffi-devel
      - libjpeg-devel
      - libjpeg-turbo-devel
      - make
      - nmap-ncat
      - openssl-devel
      - packagedb-cli
      - pcaro-hermit-fonts
      - postgresql-devel
      - postgresql-server
      - python2
      - python2-alembic
      - python2-arrow
      - python2-bleach
      - python2-bugzilla
      - python2-click
      - python2-colander
      - python2-cornice
      - python2-createrepo_c
      - python2-cryptography
      - python2-devel
      - python2-dnf
      - python2-dogpile-cache
      - python2-fedmsg-commands
      - python2-fedmsg-consumers
      - python2-fedora
      - python2-feedgen
      - python2-ipdb
      - python2-jinja2
      - python2-kitchen
      - python2-koji
      - python2-librepo
      - python2-markdown
      - python2-mock
      - python2-openid
      - python2-pillow
      - python2-psycopg2
      - python2-pylibravatar
      - python2-pyramid
      - python2-pyramid-fas-openid
      - python2-pyramid-mako
      - python2-pyramid-tm
      - python2-pytest-cov
      - python2-responses
      - python2-rpdb
      - python2-simplemediawiki
      - python2-sphinx
      - python2-sqlalchemy
      - python2-waitress
      - python2-webtest
      - python2-yaml
      - python3-arrow
      - python3-bleach
      - python3-click
      - python3-colander
      - python3-cornice
      - python3-cornice-sphinx
      - python3-createrepo_c
      - python3-diff-cover
      - python3-dogpile-cache
      - python3-fedmsg
      - python3-fedora
      - python3-flake8
      - python3-ipdb
      - python3-kitchen
      - python3-markdown
      - python3-mock
      - python3-munch
      - python3-openid
      - python3-pillow
      - python3-psycopg2
      - python3-pydocstyle
      - python3-pylibravatar
      - python3-pyramid
      - python3-pyramid-fas-openid
      - python3-pytest
      - python3-pytest-cov
      - python3-responses
      - python3-simplemediawiki
      - python3-sqlalchemy
      - python3-webtest
      - redhat-rpm-config
      - screen
      - skopeo
      - tmux
      - tree
      - vim-enhanced
      - zlib-devel
    state: present

- name: Initialize PostgreSQL
  command: postgresql-setup initdb
  args:
      creates: /var/lib/pgsql/data/pg_hba.conf

- replace:
    dest: /var/lib/pgsql/data/pg_hba.conf
    regexp: "host    all             all             127.0.0.1/32            ident"
    replace: "host    all             all             127.0.0.1/32            trust"

- replace:
    dest: /var/lib/pgsql/data/pg_hba.conf
    regexp: "host    all             all             ::1/128                 ident"
    replace: "host    all             all             ::1/128                 trust"

- service:
    name: postgresql
    state: started
    enabled: yes

- name: Create a database for Bodhi
  shell: runuser -l postgres -c 'createdb bodhi2' && touch /home/vagrant/.db-created
  args:
      creates: /home/vagrant/.db-created

# This is only packaged for Python 3 for Fedora >= 30, so we'll pip install it for now.
- name: pip install sqlalchemy_schemadisplay
  pip:
    executable: pip-3
    name: sqlalchemy_schemadisplay

# This isn't packaged in Fedora yet, but it's only a development tool (we should still add it)
- name: pip install debugtoolbar
  pip:
      name: pyramid_debugtoolbar

- name: pip install debugtoolbar
  pip:
      name: pyramid_debugtoolbar
      executable: pip3

- name: Fake a pungi install
  file:
      src: /usr/bin/true
      dest: /usr/bin/pungi-koji
      state: link

- name: Install bodhi in developer mode
  command: python /home/vagrant/bodhi/setup.py develop
  args:
      chdir: /home/vagrant/bodhi
      creates: /usr/lib/python2.7/site-packages/bodhi.egg-link

- name: Get Python 3 version
  command: python3 -c "import sys; print('%s.%s' % sys.version_info[0:2])"
  register: python3_version

- name: Install bodhi in developer mode for Python 3
  command: python3 /home/vagrant/bodhi/setup.py develop
  args:
      chdir: /home/vagrant/bodhi
      creates: /usr/lib/python{{ python3_version.stdout }}/site-packages/bodhi.egg-link

- name: Retrieve database dump
  get_url:
      url: https://infrastructure.fedoraproject.org/infra/db-dumps/bodhi2.dump.xz
      dest: /tmp/bodhi2.dump.xz
      timeout: 1000

- shell: xzcat /tmp/bodhi2.dump.xz | runuser -l postgres -c 'psql bodhi2' && touch /home/vagrant/.db-imported
  args:
      creates: /home/vagrant/.db-imported

- command: cp /home/vagrant/bodhi/devel/development.ini.example /home/vagrant/bodhi/development.ini
  args:
      creates: /home/vagrant/bodhi/development.ini

- name: Switch the database connection to postgres
  replace:
    dest: /home/vagrant/bodhi/development.ini
    regexp: "^sqlalchemy.url = sqlite.*$"
    replace: "sqlalchemy.url = postgresql://postgres:anypasswordworkslocally@localhost/bodhi2"

# Bug in zope.interface filled here https://github.com/zopefoundation/zope.interface/issues/114
- name: Fix namespace-package bug in zope.interface
  copy:
      content: "__import__('pkg_resources').declare_namespace(__name__)"
      dest: "/usr/lib64/python{{ python3_version.stdout }}/site-packages/zope/__init__.py"

- name: Apply database migrations
  shell: PYTHONPATH=. alembic upgrade head
  args:
      chdir: /home/vagrant/bodhi

- name: Install the systemd unit files
  copy:
      src: "{{ item }}"
      dest: /etc/systemd/system/{{ item }}
      mode: 0644
  with_items:
      - bodhi.service
      - fedmsg-tail.service

- name: Install the .bashrc
  copy:
      src: .bashrc
      dest: /home/vagrant/.bashrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the .vimrc
  copy:
      src: .vimrc
      dest: /home/vagrant/.vimrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the motd
  copy:
      src: motd
      dest: /etc/motd
      mode: 0644

- name: Remove default fedmsg endpoints
  file: path=/etc/fedmsg.d/endpoints.py state=absent

- name: Remove default fedmsg ssl config
  file: path=/etc/fedmsg.d/ssl.py state=absent

- name: Link the bodhi fedmsg config
  file:
    src: /home/vagrant/bodhi/fedmsg.d/bodhi.py
    dest: /etc/fedmsg.d/bodhi.py
    state: link

- name: Start and enable the bodhi service
  service:
      name: bodhi
      state: started
      enabled: yes

- name: Start and enable the docker service
  service:
      name: docker
      state: started
      enabled: yes

- name: Start and enable the fedmsg-hub service
  service:
      name: fedmsg-hub
      state: started
      enabled: yes

- name: Start and enable the fedmsg-relay service
  service:
      name: fedmsg-relay
      state: started
      enabled: yes

- name: Start and enable the fedmsg-tail service
  service:
      name: fedmsg-tail
      state: started
      enabled: yes

- name: Link the bodhi bash completion script
  file:
    src: /home/vagrant/bodhi/bodhi-complete.sh
    dest: /etc/bash_completion.d/bodhi-complete.sh
    state: link

- name: Block motd welcome screen in ssh session
  lineinfile:
    dest: /etc/pam.d/sshd
    line: "session    optional     pam_motd.so"
    state: absent
