---
- name: Install RabbitMQ packages
  package:
      name: "{{ item }}"
      state: present
  with_items:
      - rabbitmq-server

- name: Start rabbitmq
  service:
    name: rabbitmq-server
    state: started
    enabled: yes

- name: Create RabbitMQ systemd override directory
  file:
    path: /etc/systemd/system/rabbitmq-server.service.d/
    state: directory

- name: Override file limit on rabbitmq
  copy:
    content: "[Service]\nLimitNOFILE={{rabbitmq_cluster_file_limit}}\n"
    dest: /etc/systemd/system/rabbitmq-server.service.d/override.conf
  notify:
    - reload rabbitmq

- name: Enables the rabbitmq management and SSL authentication plugins
  rabbitmq_plugin:
    names: rabbitmq_management,rabbitmq_auth_mechanism_ssl
  notify:
    - reload rabbitmq

- name: Ensure default vhost exists
  rabbitmq_vhost:
    name: /
    state: present

- name: Create a guest user in RabbitMQ
  rabbitmq_user:
    user: guest
    password: guest
    tags: administrator
    vhost: /
    configure_priv: .*
    read_priv: .*
    write_priv: .*
    state: present
