<%inherit file="master.html"/>
<%namespace name="util" module="bodhi.util"/>

<div class="row">
  <div class="col-md-1">
    MENU GOES HERE?
  </div>
  <div class="col-md-5">
    <h2>Help test Fedora!</h2>
    <p class="lead">The Fedora Updates System is where developers submit the
    very latest versions of software in preparation for inclusion in
    Fedora.</p>
    <p>You can help make Fedora better by testing out these latest software
    bits and letting us know how well they work (or don't work!)</p>
  </div>
  <div class="col-md-5">
    <h2>This week's top testers</h2>
    <table class="table">
    % for tester, count in top_testers:
    <tr>
      <td>
        <strong>#${str(loop.index + 1)}</strong>
        <img class="img-circle" src="${util.avatar(tester['name'], size=24)}"/>
        ${tester['name']}
      </td>
      <td>(${str(count)})</td>
    </tr>
    % endfor
    </table>
  </div>
</div>

% if critpath_updates:
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <p class="lead">Latest Critical Path Updates in Need of Testing</p>
  ${updates_table(critpath_updates)}
  </div>
</div>
% endif

% if security_updates:
<div class="row">
  <div class="col-md-10 col-md-offset-1">
  <p class="lead">Latest Security Updates in Need of Testing</p>
  ${updates_table(security_updates)}
  </div>
</div>
%endif

<%def name="updates_table(updates)">
  <table class="table">
    <thead><tr>
        <th>Package</th>
        <th>Age</th>
        <th>Submitter</th>
        <th>Release(s)</th>
        <th>Status</th>
    </tr></thead>
    <tbody>
    % for update in updates:
    <tr>
      <td>${update['title']}</td>
      <td>${util.age(update['date_submitted'])}</td>
      <td>
        <img class="img-circle" src="${util.avatar(update['user']['name'], size=24)}"/>
        ${update['user']['name']}
      </td>
      <td>${update['release']['name']}</td>
      <td>${update['status']}</td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
