<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
              xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
  <?python
   import gettext
   translation = gettext.translation('bodhi', '/usr/share/locale', fallback=True)
   _ = translation.ugettext
  ?>
  <xi:include href="${tg.fedora_template('login.html')}" />


<head>
    <meta content="text/html; charset=UTF-8"
        http-equiv="content-type" py:replace="''"/>
    <title>Login</title>
</head>

<body onload="document.login.user_name.focus()">
    <blockquote>
        <h1 class="padded">Fedora Update System</h1>
        <p class="padded">${message}<br/>
        Hint: Use your Fedora username, not your e-mail address.</p> 
    </blockquote>
    <loginform>${message}</loginform>
</body>
</html>
