<%inherit file="master.html"/>

<div class="row">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-10 col-md-offset-1 nopadding">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Search Bodhi</h3>
        </div>
        <form id="search" role="search">
          <div id="bloodhound" class="form-group noui">
            <input class="typeahead form-control noui" name="term" type="text" placeholder="Search query here...">
          </div>
        </form>
      </div>
    </div>

      <div class="row">
        <div class="col-md-10 col-md-offset-1 remove-cols js-md-12 sidepanel nopadding">
          <div class="panelheader clearfix">
            <h3 class="pull-left">This week's top testers</h3>
          </div>
          hi there
        </div>
      </div>

    </div>
  </div>
</div>
