<%inherit file="master.html"/>

<div class="row">

  <div class="col-md-12">

    <div class="row">
      <div class="col-md-12">
        <h2 class="pull-left">New Update</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 panel">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Packages</h3>
        </div>
        <form id="search" role="search">
          <div id="packages-search" class="form-group noui">
            <input class="typeahead form-control noui" name="term" type="text"
                   placeholder="Add a package">
          </div>
        </form>
      </div>

      <div class="col-md-4 panel">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Candidate Builds</h3>
        </div>
        check box list goes here
      </div>

      <div class="col-md-4">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Related Bugs</h3>
        </div>
        check box list goes here
      </div>

    </div> <!-- end row -->

    <div class="row">

      <div class="col-md-6 panel">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Update notes</h3>
        </div>
        Big input goes here
      </div>

      <div class="col-md-6 panel">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Preview</h3>
        </div>
        Markdown-ify preview goes here
      </div>

    </div> <!-- end row -->

    <div class="row">

      <div class="col-md-12 panel">
        <div class="panelheader clearfix">
          <h3 class="pull-left">Karma Policy</h3>
        </div>
        Crazy karma policy widget goes here.
      </div>

    </div> <!-- end row -->

  </div>
</div>
