<%inherit file="master.html"/>

<div class="row">
  <div id='js-warning' class="col-md-6 col-md-offset-3">
    <div class=" panel panel-warning">
      <div class="panel-heading clearfix">
        <span class="pull-left">New Update Form Requires JavaScript</span>
      </div>
      <div class="panel-body">
        <p class="lead">This page only works with JavaScript enabled.</p>
        <p>If you have JavaScript disabled with a plugin like NoScript, please
        disable that plugin and reload the page.  If you trust Fedora
        Infrastructure, you might find it convenient to enable JavaScript just
        for the domain <code>fedoraproject.org</code>.</p>
        <p>If you are opposed to JavaScript in principle, you're not left out!
        Please use the fully-featured <a href="#">Bodhi command-line
        interface tool</a>.</p>
      </div>
    </div>
  </div>

  <div id="new-update-form" class="col-md-12 hidden">

    <div class="row">
      <div class="col-md-12">
        <h2 class="pull-left">New Update</span>
      </div>
    </div>

    <div class="row">

      <div class="col-md-5">
        <div class=" panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Packages</span>
          </div>
          <div class="panel-body">
            <form id="search" role="search">
              <div id="packages-search" class="form-group noui">
                <input class="typeahead form-control noui" name="term" type="text"
                       placeholder="Add a package">
              </div>
            </form>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Candidate Builds</span>
          </div>
          <div class="panel-body">
            <input id="builds-adder" class="form-control noui" type="text"
                placeholder="Add a build, like package-0.2.1-5.fc20">
            <div id="candidate-checkboxes"> </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Related Bugs</span>
          </div>
          <div class="panel-body">
            <input id="bugs-adder" class="form-control noui" type="text"
                   placeholder="Add #RHBZ">
            <div id="bugs-checkboxes"> </div>
          </div>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Update notes</span>
          </div>
          <div class="panel-body">
            <textarea class="form-control" id="notes" name="notes" rows="6"
              placeholder="Update notes go here.  They're really *really* useful, so feel free to write as you please.  You can use **markdown** to make them look nice." required="true"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Preview</span>
          </div>
          <div class="panel-body">
            <span id="preview"><h3><small>Preview</small></h3></span>
          </div>
        </div>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="pull-left">Karma Policy</span>
          </div>
          <div class="panel-body">
            Crazy karma policy widget goes here.
          </div>
        </div>
      </div>
    </div> <!-- end row -->

  </div>
</div>
