<%namespace name="util" module="bodhi.util"/>
<%def name="updates(updates)">
  <table class="table">
    <thead><tr>
        <th>Update</th>
        <th class="nobreak">Age</th>
        <th class="nobreak">Submitter</th>
        <th class="hidejs">Release(s)</th>
        <th class="hidejs">Status</th>
    </tr></thead>
    <tbody>
    % for update in updates:
    <tr>
      <td>${util.update2html(update) | n}</td>
      <td class="nobreak">
        <span title="${update['date_submitted']} UTC">
          ${util.age(update['date_submitted'], True)}
        </span>
      </td>
      <td class="nobreak">
        <a href="${request.route_url('user', name=update['user']['name'])}">
          <img class="img-circle" src="${util.avatar(update['user']['name'], size=24)}"/>
          ${update['user']['name']}
        </a>
      </td>
      <td class="hidejs">
        % if update['release']:
        <a href="${request.route_url('release', name=update['release']['name'])}">
          ${update['release']['name']}
        </a>
        % endif
      </td>
      <td class="hidejs">${update['status']}</td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
