<%namespace name="util" module="bodhi.util"/>
<%def name="updates(updates, display_user=True)">
  <table class="table">
    <thead><tr>
        <th>Update</th>
        <th class="nobreak">Age</th>
        %if display_user:
        <th class="nobreak">Submitter</th>
        %endif
        <th class="hidejs">Release(s)</th>
        <th class="hidejs">Status</th>
    </tr></thead>
    <tbody>
    % for update in updates:
    <tr>
      <td>${util.update2html(update) | n}</td>
      <td class="nobreak">
        <span title="${update['date_submitted']} UTC">
          ${util.age(update['date_submitted'], True)}
        </span>
      </td>
      %if display_user:
      <td class="nobreak">
        <a href="${request.route_url('user', name=update['user']['name'])}">
          <img class="img-circle" src="${util.avatar(update['user']['name'], size=24)}"/>
          ${update['user']['name']}
        </a>
      </td>
      %endif
      <td class="hidejs">
        % if update['release']:
        <a href="${request.route_url('release', name=update['release']['name'])}">
          ${update['release']['name']}
        </a>
        % endif
      </td>
      <td class="hidejs">${update['status']}</td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
<%def name="overrides(overrides, display_user=True)">
  <table class="table">
    <thead><tr>
        <th>Override</th>
        <th class="nobreak">Age</th>
        %if display_user:
        <th class="nobreak">Submitter</th>
        %endif
        <th class="hidejs">Status</th>
    </tr></thead>
    <tbody>
    % for override in overrides:
    <tr>
      <td>
        <a href="${request.route_url('override', nvr=override['build']['nvr'])}">
          ${override['build']['nvr']}
        </a>
      </td>
      <td class="nobreak">
        <span title="${override['submission_date']} UTC">
          ${util.age(override['submission_date'], True)}
        </span>
      </td>
      %if display_user:
      <td class="nobreak">
        <a href="${request.route_url('user', name=override['submitter']['name'])}">
          <img class="img-circle" src="${util.avatar(override['submitter']['name'], size=24)}"/>
          ${override['submitter']['name']}
        </a>
      </td>
      %endif
      <td class="hidejs">
        % if override['expired_date'] is None:
        <span title="Expires on ${override['expiration_date']}">Active</span>
        % else:
        <span title="Expired since ${override['expired_date']}">Expired</span>
        % endif
      </td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
<%def name="stacks(stacks)">
  <table class="table">
    <thead><tr>
        <th>Stack</th>
        <th>Number of packages</th>
    </tr></thead>
    <tbody>
    % for stack in sorted(stacks, cmp=lambda x, y: cmp(len(x.packages), len(y.packages)), reverse=True):
    <tr>
      <td>
        <a href="${request.route_url('stack', name=stack['name'])}">
          ${stack['name']}
        </a>
      </td>
      <td>
          <span title="${len(stack['packages'])} packages in this stack">${len(stack['packages'])}</span>
      </td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
