<%namespace name="util" module="bodhi.util"/>
<%def name="updates(updates)">
  <table class="table">
    <thead><tr>
        <th>Update</th>
        <th>Age</th>
        <th>Submitter</th>
        <th>Release(s)</th>
        <th>Status</th>
    </tr></thead>
    <tbody>
    % for update in updates:
    <tr>
      <td>${util.update2html(update) | n}</td>
      <td>${util.age(update['date_submitted'])}</td>
      <td>
        <a href="${request.route_url('user', name=update['user']['name'])}">
        <img class="img-circle" src="${util.avatar(update['user']['name'], size=24)}"/>
        ${update['user']['name']}
        </a>
      </td>
      <td>
        <a href="${request.route_url('release', name=update['release']['name'])}">
          ${update['release']['name']}
        </a>
      </td>
      <td>${update['status']}</td>
    </tr>
    % endfor
    </tbody>
  </table>
</%def>
