<%inherit file="master.html"/>

<script type="text/javascript">
var form;
$(document).ready(function(){
  form = new Form("#new_comment", "${request.route_url('comments')}");
});
</script>

<div class="row">
  <div class="col-md-12">
    <h1>
      % if update.alias:
      ${update.alias}
      % else:
      ${update.get_title(', ', 2, ", &hellip;") | n}
      <div>
        <span title="${(', ').join(map(lambda x: x.nvr, update.builds[2:]))}">
          <small>${ "(+ " + str(len(update.builds) - 2) + " more)" if len(update.builds) > 2 else "" }</small>
        </span>
      </div>
      % endif
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <table class="table">
      <tr>
        <td>Submitter</td>
        <td>
          <a href="${request.route_url('user', name=update.user.name)}">
            <img class="img-circle" src="${self.util.avatar(update.user.name, size=24)}"/>
            ${update.user.name}
          </a>
        </td>
      </tr>
      <tr>
        <td>Builds</td>
        <td>
          <ul>
            % for build in update.builds:
            <li>
              <a href="http://koji.fedoraproject.org/koji/search?terms=${build.nvr}&type=build&match=glob">
                ${build.nvr}
              </a>
            </li>
            % endfor
          </ul>
        </td>
      </tr>

      % if update.alias:
      <tr>
        <td>Update ID</td>
        <td><a href="${request.route_url('update', id=update.alias)}">
            ${update.alias}
        </a></td>
      </tr>
      %endif
      <tr>
        <td>Release</td>
        <td><a href="${request.route_url('release', name=update.release.name)}">
            ${update.release.name}
        </a></td>
      </tr>
      <tr>
        <td>Karma</td><td>${self.util.karma2html(update.karma) | n}
          % if update.stable_karma:
          <small>stable threshold: ${update.stable_karma}</small>
          % endif
          % if update.unstable_karma:
          <small>unstable threshold: ${update.unstable_karma}</small>
          % endif
        </td>
      </tr>

      % if update.type:
      <tr>
        <td>Type</td><td>${self.util.type2html(update.type) | n}</td>
      </tr>
      % endif

      % if update.severity != 'unspecified':
      <tr>
        <td>Severity</td><td>${self.util.severity2html(update.severity) | n}</td>
      </tr>
      % endif

      % if update.request:
      <tr>
        <td>Request</td><td>${self.util.request2html(update.request) | n}</td>
      </tr>
      % endif

      <tr>
        <td>Status</td><td>${self.util.status2html(update.status) | n}</td>
      </tr>

      % if update.suggest != 'unspecified':
      <tr>
        <td>Suggestion</td><td>${self.util.suggestion2html(update.suggest) | n}</td>
      </tr>
      % endif

      <tr>
        <td>Submitted</td>
        <td>${self.util.age(update.date_submitted)},
          <small>${update.date_submitted}</small></td>
      </tr>

      % if update.pushed:
      <tr>
        <td>Pushed</td>
        <td>${self.util.age(update.date_pushed)},
          <small>${update.date_pushed}</small></td>
      </tr>
      % endif

      % if update.date_modified:
      <tr>
        <td>Modified</td>
        <td>${self.util.age(update.date_modified)},
          <small>${update.date_modified}</small></td>
      </tr>
      % endif

      % if update.date_approved:
      <tr>
        <td>approved</td>
        <td>${self.util.age(update.date_approved)},
          <small>${update.date_approved}</small></td>
      </tr>
      % endif

    </table>

    <hr/>

    ## TODO -- implement this in javascript once resultsdb gets JSONP support
    ## which is tracked here https://phab.qadevel.cloud.fedoraproject.org/D120
    ## http://resultsdb-stg.cloud.fedoraproject.org/resultsdb/api/v1.0/results?item=kernel-3.14.5-200.fc20.i686.rpm
    <h3>Automated Test Results <span class="badge">2</span> <small>mockup</small></h3>
    <table class="table">
      <colgroup class='strip' span="1"></colgroup>
      <colgroup span="1"></colgroup>
      <colgroup span="1"></colgroup>
      <tr>
        <td><span data-toggle="tooltip" data-placement="top" title="PASS" class="glyphicon glyphicon-ok-circle"></span></td>
        <td>depcheck</td>
        <td>kernel-3.14.5-200.fc20.i686.rpm</td>
      </tr>
      <tr class="danger">
        <td><span data-toggle="tooltip" data-placement="top" title="FAIL" class="glyphicon glyphicon-remove-circle"></span></td>
        <td>rpmlint</td>
        <td>kernel-3.14.5-200.fc20.i686.rpm</td>
      </tr>
    </table>
  </div>

  <div class="col-md-7">
    % if update.notes:
    <h3 class="nomargin">Notes about this update:</h3>
    ${self.util.markup(update.notes) | n}
    % endif

    <hr />

    % if update.bugs:
    <h3>Related Bugs <span class="badge">${len(update.bugs)}</span></h3>
    <table class="table">
      <colgroup class='strip' span="1"></colgroup>
      <colgroup class='strip' span="1"></colgroup>
      <colgroup span="1"></colgroup>
      <thead>
        <tr>
          <th class='icon'><span data-toggle="tooltip" data-placement="top" title="PASS - Passes the test case." class="glyphicon glyphicon-ok-circle"></span></th>
          <th class='icon'><span data-toggle="tooltip" data-placement="top" title="FAIL - Does not fix the bug." class="glyphicon glyphicon-remove-circle"></span></th>
          <th></th>
        </tr>
      </thead>
      % for bug in update.bugs:
      <tr>
        <td>${self.util.karma2html(update.get_bug_karma(bug)) | n}</td>
        <td>${self.util.bug_link(bug) | n}</td>
      </tr>
      % endfor
    </table>
  </div>
  % endif

  % if update.test_cases:
  <h3>Test Cases <span class="badge">${len(update.test_cases)}</span></h3>
  <table class="table">
    <colgroup class='strip' span="1"></colgroup>
    <colgroup class='strip' span="1"></colgroup>
    <colgroup span="1"></colgroup>
    <thead>
      <tr>
        <th><span data-toggle="tooltip" data-placement="top" title="PASS - Fixes the bug or passes the test case." class="glyphicon glyphicon-ok-circle"></span></th>
        <th><span data-toggle="tooltip" data-placement="top" title="FAIL - Does not fix the bug or pass the test case." class="glyphicon glyphicon-remove-circle"></span></th>
        <th></th>
      </tr>
    </thead>
    % for test in update.full_test_cases:
    <tr>
      <td>${self.util.karma2html(update.get_testcase_karma(test)) | n}</td>
      <td>${self.util.testcase_link(test) | n}</td>
    </tr>
    % endfor
  </table>
  % endif

</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <h3>Comments <span class="badge">${len(update.comments)}</span></h3>
    <ul id="comments" class="linkable">
      % for comment in update.comments:
      <li id="comment-${comment.id}">
        ${self.fragments.comment(comment)}
      </li>
      % endfor
    </ul>

    <form id="new_comment" class="form-horizontal" role="form"
      action="javascript:form.submit();">

      <div class="hidden alert alert-danger col-sm-4 col-sm-offset-1">
        <strong></strong><span class="error"></span>
      </div>

      <div class="clearfix"></div>

      <input type="hidden" name="update" value="${update.title}"/>

      <div class="row">
        <div class="col-md-6">

          % if not request.user:
          <div class="form-group">
            <label for="email" class="col-sm-1 control-label">Email</label>
            <div class="col-sm-5">
              <input class="form-control" id="email" name="email" type="email"
              placeholder="email@address.org" required="true"></input>
              <div class="hidden alert alert-danger" for="email">
                <strong></strong> <span class="error"></span>
              </div>
            </div>
          </div>
          % endif

          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="text" name="text" rows="6"
                placeholder="Comment..." required="true"></textarea>
              <div class="hidden alert alert-danger" for="text">
                <strong></strong> <span class="error"></span>
              </div>
            </div>
            <label for="preview" class="col-sm-2 control-label">Preview</label>
            <div class="col-sm-10">
              <span id="preview"><h3><small>Preview</small></h3></span>
            </div>
          </div>

        </div>
        <div class="col-md-6">

          <label for="preview" class="col-sm-2 control-label">Feedback</label>
          <div class="col-sm-10">
            <table class="table">
              <colgroup class='strip' span="1"></colgroup>
              <colgroup class='strip' span="1"></colgroup>
              <colgroup class='strip' span="1"></colgroup>
              <colgroup span="1"></colgroup>
              <thead>
                <tr>
                  <th class='icon'><span data-toggle="tooltip" data-placement="top" title="FAIL - Does not fix the bug or pass the test case." class="glyphicon glyphicon-remove-circle"></span></th>
                  <th class='icon'><span data-toggle="tooltip" data-placement="top" title="Untested." class="glyphicon glyphicon-unchecked"></span></th>
                  <th class='icon'><span data-toggle="tooltip" data-placement="top" title="PASS - Fixes the bug or passes the test case." class="glyphicon glyphicon-ok-circle"></span></th>
                  <th></th>
                </tr>
              </thead>

              % for bug in update.bugs:
              <tr>
                <input type="hidden" name="bug_feedback.${loop.index}.bug_id" value="${bug.bug_id}">
                <td data-class="danger">  <input type="radio" name="bug_feedback.${loop.index}.karma" value="-1"> </td>
                <td>                      <input type="radio" name="bug_feedback.${loop.index}.karma" value="0" checked> </td>
                <td data-class="success"> <input type="radio" name="bug_feedback.${loop.index}.karma" value="1"> </td>
                <td>${self.util.bug_link(bug) | n}</td>
              </tr>
              % endfor

              % for test in update.full_test_cases:
              <tr>
                <input type="hidden" name="testcase_feedback.${loop.index}.testcase_name" value="${test.name}">
                <td data-class="danger">  <input type="radio" name="testcase_feedback.${loop.index}.karma" value="-1"> </td>
                <td>                      <input type="radio" name="testcase_feedback.${loop.index}.karma" value="0" checked> </td>
                <td data-class="success"> <input type="radio" name="testcase_feedback.${loop.index}.karma" value="1"> </td>
                <td>${self.util.testcase_link(test) | n}</td>
              </tr>
              % endfor

              % if update.critpath:
              <tr>
                <td data-class="danger">  <input type="radio" name="karma_critpath" value="-1"> </td>
                <td>                      <input type="radio" name="karma_critpath" value="0" checked> </td>
                <td data-class="success"> <input type="radio" name="karma_critpath" value="1"> </td>
                <td>Does this update break the basic functioning of your system?</td>
              </tr>
              % endif

              <tr>
                <td data-class="danger">  <input type="radio" name="karma" value="-1"> </td>
                <td>                      <input type="radio" name="karma" value="0" checked> </td>
                <td data-class="success"> <input type="radio" name="karma" value="1"> </td>
                <td>General behavior?  Any other problems?</td>
              </tr>

            </table>
          </div>

        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">
          <button type="submit" class="pull-right btn btn-default">Add Comment</button>
        </div>
      </div>
    </form>

  </div>
</div>
