<%inherit file="master.html"/>
<%namespace name="util" module="bodhi.util"/>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    &nbsp;
    </br>
    <img class="centered img-circle" src="${util.avatar(user['name'], size=256)}"/>
    <h2 class="centered">${user['name']}</h2>
  </div>
  <div class="col-md-7">
    <h3>blah blah</h3>
    we could put a list of latest comments on %USER updates here?
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    we could put a list of latest updates from $USER here..
  </div>
  <div class="col-md-5">
    we could put a list of updates that need pushing to stable here?
  </div>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <h3>Comments by ${user['name']}</h3>
    <ul>
    % for comment in user['comments_by']:
      <li>
        <a href="${request.route_url('user', name=comment['user']['name'])}">
        <img class="img-circle" src="${util.avatar(comment['user']['name'], size=24)}"/>
        ${comment['user']['name']}
        </a> commented
        ${util.age(comment['timestamp'])}
        on 
        <a href="${request.route_url('update', id=comment['update']['title'])}">
        ${comment['update']['title']}
        </a>
        ${util.markup(comment['text']) | n}
      </li>
    % endfor
    </ul>
  </div>
  <div class="col-md-5">
    <h3>Comments on ${user['name']}'s updates</h3>
    <ul>
    % for comment in user['comments_on']:
      <li>
        <a href="${request.route_url('user', name=comment['user']['name'])}">
        <img class="img-circle" src="${util.avatar(comment['user']['name'], size=24)}"/>
        ${comment['user']['name']}
        </a> commented
        ${util.age(comment['timestamp'])}
        on 
        <a href="${request.route_url('update', id=comment['update']['title'])}">
        ${comment['update']['title']}
        </a>
        ${util.markup(comment['text']) | n}
      </li>
    % endfor
    </ul>
  </div>
</div>
