<%inherit file="master.html"/>
<%namespace name="util" module="bodhi.util"/>

<div class="row">
  <div class="col-md-3 col-md-offset-1">
    &nbsp;</br>
    % if request.user and request.user.name == user['name']:
    <form method="POST" action="https://www.libravatar.org/openid/login/">
      <input type="hidden" name="openid_identifier"
          value="http://${user['name']}.id.fedoraproject.org/"/>
      <input type="image" class="img-circle centered"
          src="${util.avatar(user['name'], size=256)}"
          style="outline: none;" alt="Your avatar"/>
    </form>
    % else:
    <img class="centered img-circle" src="${util.avatar(user['name'], size=256)}"/>
    % endif
    <h2 class="centered">${user['name']}</h2>
  </div>

  % if user['comments_on']:
  <div class="col-md-7">
    <h3>Comments on ${user['name']}'s updates</h3>
    <ul>
    % for comment in user['comments_on']:
      <li>
        <a href="${request.route_url('user', name=comment['user']['name'])}">
        <img class="img-circle" src="${util.avatar(comment['user']['name'], size=24)}"/>
        ${comment['user']['name']}
        </a> commented
        ${util.age(comment['timestamp'])} on
        ${util.update2html(comment['update']) | n}
        ${util.markup(comment['text']) | n}
      </li>
    % endfor
    </ul>
  </div>
  % endif

</div>

<div class="row">
  % if user['updates']:
  <div class="col-md-5 col-md-offset-1">
    <table class="table">
      <thead><tr>
          <th>Update</th>
          <th>Age</th>
          <th>Release(s)</th>
          <th>Status</th>
      </tr></thead>
      <tbody>
      % for update in user['updates']:
      <tr>
        <td> ${util.update2html(update) | n} </td>
        <td>${util.age(update['date_submitted'])}</td>
        <td>
          <a href="${request.route_url('release', name=update['release']['name'])}">
            ${update['release']['name']}
          </a>
        </td>
        <td>${update['status']}</td>
      </tr>
      % endfor
      </tbody>
    </table>
    <span class="pull-right">
      <a href="${request.route_url('updates')}?user=${user['name']}">
        View more of ${user['name']}'s updates
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </span>
  </div>
  % endif

  % if user['comments_by']:
  <div class="col-md-5">
    <h3>Comments by ${user['name']}</h3>
    <ul>
    % for comment in user['comments_by']:
      <li> <a href="${request.route_url('user', name=comment['user']['name'])}">
        <img class="img-circle" src="${util.avatar(comment['user']['name'], size=24)}"/>
        ${comment['user']['name']}
        </a> commented
        ${util.age(comment['timestamp'])} on
        ${util.update2html(comment['update']) | n}
        ${util.markup(comment['text']) | n}
      </li>
    % endfor
    </ul>
  </div>
  % endif


</div>
