[Unit]
Description=celery
After=network-online.target
Wants=network-online.target

[Service]
Environment=PYTHONPATH=/home/vagrant/bodhi
User=vagrant
ExecStart=/usr/bin/celery-3 -A bodhi.server.tasks.app worker -l info -Q celery,has_koji_mount -B

[Install]
WantedBy=multi-user.target
