<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE variants PUBLIC "-//Red Hat, Inc.//DTD Variants info//EN" "variants2012.dtd">
<variants>
	<variant id="Everything" name="Everything" type="variant">
		<arches>
			<arch>aarch64</arch>
			<arch>armhfp</arch>
			<arch>i386</arch>
			<arch>ppc64</arch>
			<arch>ppc64le</arch>
			<arch>s390x</arch>
			<arch>x86_64</arch>
		</arches>
		<modules>
			<kojitag>[[ id ]]</kojitag>
		</modules>
	</variant>
</variants>
