html {
    font-size: 14px;
}

p, .lead {
    margin-bottom: 0px;
}

a {
    outline: 0 !important;
}

a:hover {
    text-decoration: none;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.messenger-message-inner a {
    color: white;
    text-decoration: none;
}

.messenger-message-inner {
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;          /* Likely future */
}

.row {
    margin-right: 0px;
}

#ghost-cabbage {
    position: fixed;
    top: 40px;
    right: 55px;

    zoom: 1;
    filter: alpha(opacity=07);
    opacity: 0.07;
    z-index: -1;
}

#ghost-cabbage > img {
    width: 256px;
    height: 256px;
}

ul {
    list-style: none;
}

.table colgroup.strip {
    width: 10px !important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nowrap {
    white-space: nowrap;
}
.anchor {
    color: black;
}
.linkable li .anchor {
    display: none;
}
.linkable li:hover .anchor {
    display: inline;
}

/* Make the navbar collapse take effect at larger sizes than it normally would
 * so we don't crowd out the search widget...
 */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* Search-y stuff */
form#search, form#search input, .twitter-typeahead {
    background:rgba(0,0,0,0);
    border: 0;
    color: white;
    width: 100%;
}

.tt-hint {
  color: #999
}

.tt-dataset {
    color: #373a3c;
}

.tt-menu {
  width: 100%;
  margin-top: 0px;
  padding: 8px;

  font-size: 90%;

  /* Make it scrollable */
  max-height: 550px;
  overflow-y: auto;

  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 18px;
}

.tt-suggestion.tt-cursor, .tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;
  cursor: pointer;
}

.tt-suggestion.tt-cursor a, .tt-suggestion:hover a{
  color:#fff;
}

.tt-suggestion.tt-cursor span.text-muted, .tt-suggestion:hover span.text-muted{
  color: rgba(255,255,255,0.6);
}

.tt-suggestion a{
  color:black;
  display:block;
}

.tt-suggestion p {
  margin: 0;
}

ul.updateslist {
    list-style: none;
}

ul.updateslist li {
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 6px 30px;
    position: relative
}

.onlyjs {
    display: none;
    visibility: hidden;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.karma-fest {
    clear: both;
    font-size: 0.9em;
    margin-left: 27px; /* avatar + 2px pad */
}

#preview {
    padding: 10px;
}

.markdown ul {
    list-style-type: circle;
}
.markdown > p > code {
    white-space: normal !important;
}
.markdown p {
    word-wrap:      break-word; /* old-school */
    overflow-wrap:  break-word; /* new-school */
    padding:        5px;
}
.markdown blockquote {
    margin: 0 1rem;
    color: #6a737d;
    border-left: 0.25rem solid #dfe2e5;
}

#markdown-help strong {
    text-transform: uppercase;
}
#markdown-help hr {
    margin-top: 12px;
    padding-bottom: 5px;
}

.error-page-panel {
    margin-top: 100px;
    padding: 20px 40px 40px 40px;
    border: 1px solid;
}

.stretch-table-column {
    min-width: 99%;
}

.nowrap {
    white-space: nowrap;
}
.subheader{
  background: #f3f3f3;
  border-bottom: 1px solid #DDD;
}

.comment-preview{
  background: #eee;
  border: 1px solid #ddd;
  min-height:10em;
}

.nav.nav-tabs{
  margin-bottom: -1px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.compose {
  border:1px solid #ddd;
  padding:1em;
  text-align: left!important;
  background-color: #f7f7f7;
}

.compose-box{
  padding:1em;
  background-color: #ffffff;
}

.front-count{
  border:1px solid #ddd;
  padding:1em;
  text-align: left!important;
  background-color: #f7f7f7;
}

.front-count-total{
  font-size:3em;
  line-height: 1em;
  font-weight: 200;
}

.front-release{
  border-bottom: 1px solid #eee;
  padding-top: 1.5em;
padding-bottom: 2em;
}

.notblue{
  color:inherit;
}

div#new-update-form {
    display: none;
}

.text-grey {
    color: #6c757d;
}

.cursor-pointer {
    cursor: pointer;
}

#install-instructions {
    position: relative;
}

#copybutton {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

#fedora-metrics, #epel-metrics {
    height: 350px;
    width: 650px;
}

/* Form custom controls doesn't behave well with fedora bootstrap.
 * Following rules will mimic what upstream Bootstrap 4 does */

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #007bff;
}

.custom-control-label {
    cursor: pointer;
}

.custom-control-label::before {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
