---
- name: Install dev packages
  dnf:
      name: "{{ item }}"
      state: present
  with_items:
      - createrepo_c
      - fedmsg-hub
      - fedmsg-relay
      - freetype-devel
      - gcc
      - git
      - graphviz
      - httpie
      - koji
      - liberation-mono-fonts
      - libffi-devel
      - libjpeg-devel
      - libjpeg-turbo-devel
      - nmap-ncat
      - openssl-devel
      - packagedb-cli
      - pcaro-hermit-fonts
      - postgresql-devel
      - pungi
      - python
      - python-alembic
      - python-bugzilla
      - python-openid
      - python-pylibravatar
      - python-pyramid-fas-openid
      - python-simplemediawiki
      - python-webtest
      - python2-arrow
      - python2-bleach
      - python2-click
      - python2-colander
      - python2-createrepo_c
      - python2-cryptography
      - python2-devel
      - python2-dnf
      - python2-dogpile-cache
      - python2-fedmsg-commands
      - python2-fedmsg-consumers
      - python2-fedora
      - python2-feedgen
      - python2-flake8
      - python2-ipdb
      - python2-jinja2
      - python2-kitchen
      - python2-librepo
      - python2-markdown
      - python2-mock
      - python2-pillow
      - python2-psycopg2
      - python2-pyramid
      - python2-pyramid-mako
      - python2-pyramid-tm
      - python2-pytest-cov
      - python2-rpdb
      - python2-sphinx
      - python2-sqlalchemy
      - python2-sqlalchemy_schemadisplay
      - python2-waitress
      - python2-yaml
      - python3-pydocstyle
      - python3-tox
      - redhat-rpm-config
      - vim-enhanced
      - zlib-devel

# cornice > 1 won't be available until Fedora 28 is released.
- name: pip install cornice
  pip:
      name: cornice

# cornice_sphinx is not packaged in Fedora yet, but won't be available until Fedora 28 is released.
- name: pip install cornice_sphinx
  pip:
      name: -e git+https://github.com/Cornices/cornice.ext.sphinx.git@master#egg=cornice_sphinx

# This isn't packaged in Fedora yet, but it's only a development tool (we should still add it)
- name: pip install debugtoolbar
  pip:
      name: pyramid_debugtoolbar

# This has been retired in Fedora and needs to be unretired. We'll pip install for now.
- name: pip install diff_cover
  pip:
      name: diff_cover

- name: Install bodhi in developer mode
  command: python /home/vagrant/bodhi/setup.py develop
  args:
      chdir: /home/vagrant/bodhi
      creates: /usr/lib/python2.7/site-packages/bodhi.egg-link

- name: Retrieve database dump
  get_url:
      url: https://infrastructure.fedoraproject.org/infra/db-dumps/bodhi2.dump.xz
      dest: /tmp/bodhi2.dump.xz

- shell: xzcat /tmp/bodhi2.dump.xz | runuser -l postgres -c 'psql bodhi2' && touch /home/vagrant/.db-imported
  args:
      creates: /home/vagrant/.db-imported

- command: cp /home/vagrant/bodhi/devel/development.ini.example /home/vagrant/bodhi/development.ini
  args:
      creates: /home/vagrant/bodhi/development.ini

- name: Switch the database connection to postgres
  replace:
    dest: /home/vagrant/bodhi/development.ini
    regexp: "^sqlalchemy.url = sqlite.*$"
    replace: "sqlalchemy.url = postgresql://postgres:anypasswordworkslocally@localhost/bodhi2"

- name: Apply database migrations
  shell: PYTHONPATH=. alembic upgrade head
  args:
      chdir: /home/vagrant/bodhi

- name: Install the systemd unit files
  copy:
      src: "{{ item }}"
      dest: /etc/systemd/system/{{ item }}
      mode: 0644
  with_items:
      - bodhi.service
      - fedmsg-tail.service

- name: Install the .bashrc
  copy:
      src: .bashrc
      dest: /home/vagrant/.bashrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the .vimrc
  copy:
      src: .vimrc
      dest: /home/vagrant/.vimrc
      mode: 0644
      owner: vagrant
      group: vagrant

- name: Install the motd
  copy:
      src: motd
      dest: /etc/motd
      mode: 0644

- name: Remove default fedmsg endpoints
  file: path=/etc/fedmsg.d/endpoints.py state=absent

- name: Remove default fedmsg ssl config
  file: path=/etc/fedmsg.d/ssl.py state=absent

- name: Link the bodhi fedmsg config
  file:
    src: /home/vagrant/bodhi/fedmsg.d/bodhi.py
    dest: /etc/fedmsg.d/bodhi.py
    state: link

- name: Start and enable the bodhi service
  service:
      name: bodhi
      state: started
      enabled: yes

- name: Start and enable the fedmsg-hub service
  service:
      name: fedmsg-hub
      state: started
      enabled: yes

- name: Start and enable the fedmsg-relay service
  service:
      name: fedmsg-relay
      state: started
      enabled: yes

- name: Start and enable the fedmsg-tail service
  service:
      name: fedmsg-tail
      state: started
      enabled: yes

- name: Link the bodhi bash completion script
  file:
    src: /home/vagrant/bodhi/bodhi-complete.sh
    dest: /etc/bash_completion.d/bodhi-complete.sh
    state: link
