on:
  push:
    branches:
      - staging

name: Build Staging Snapshot in Koji

jobs:

  generate_srpms:
    name: Generate SRPMS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: staging
      - name: Build the rpms with bodhi-ci (just to get the SRPMS)
        run: devel/ci/bodhi-ci rpm -r ${{ matrix.release }}
      - name: Upload srpms
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.release }}-SRPMs
          path: test_results/${{ matrix.release }}-rpm/*.src.rpm
    strategy:
      fail-fast: false
      matrix:
        release: [f36,f37]

  build_in_koji:
    name: Build ${{matrix.module}} on ${{matrix.release}} in Koji
    runs-on: ubuntu-latest
    needs: generate_srpms
    steps:
      - uses: actions/checkout@v3
        with:
          ref: staging
      - name: install Deps with apt
        run: sudo apt-get install krb5-k5tls krb5-user krb5-config libkrb5-dev

      - name: Install Deps with PIP
        run: pip install click conu pytest pytest-cov munch psycopg2 fedora-messaging koji

      - name: Get Fedora Project IPA CA
        run: sudo curl https://pagure.io/fedora-packager/raw/main/f/ipa_ca/fedoraproject_ipa_ca.crt -o /usr/local/share/ca-certificates/fedoraproject_ipa_ca.crt

      - name: Update CA Certificates
        run:  sudo update-ca-certificates

      - name: Copy krb5.conf
        run: sudo cp .github/workflows/krb5.conf /etc/krb5.conf

      - name: Copy koji.conf
        run: sudo cp .github/workflows/koji.conf /etc/koji.conf

      # the keytab in the secret was generated with:
      # $ ktutil
      # ktutil:   addent -password -p bodhidev-bot@FEDORAPROJECT.ORG -k 1 -e rc4-hmac
      # ktutil:   wkt bodhidev-bot.keytab
      #
      # then encoded in base64 and added to github actions secrets with
      # $ base64 bodhidev-bot.keytab > bodhidev-bot.keytab.base64
      - name: get and decode keytab
        env:
          KEYTAB: ${{ secrets.KEYTAB }}
        run: echo $KEYTAB | base64 --decode > bodhidev-bot.keytab

      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Build ${{matrix.module}} on Koji
        run: koji --keytab=bodhidev-bot.keytab --principal=bodhidev-bot@FEDORAPROJECT.ORG build --wait ${{ matrix.release }}-infra ${{ matrix.release }}-SRPMs/*${{matrix.module}}*.src.rpm

    strategy:
      fail-fast: false
      matrix:
        module: [bodhi-client, bodhi-messages, bodhi-server]
        release: [f36,f37]
