[run]
branch = True
source = bodhi
omit =
    tests/*

[report]
precision = 2
fail_under = 99
exclude_lines =
    pragma: no cover
    class DevBuildsys
    def __repr__
    def multicall_enabled
    if __name__ == .__main__.:
show_missing = True
